.dilanWrapper {
	position: relative;
	width: 100vw;
	margin-top: 20rem;
	height: 120vh;
	margin-bottom: 10rem;
	.bodyContainer {
		position: absolute;
		z-index: 0;
		top: 8rem;
		text-align: right;
	}
	.titleWrapper {
		background-color: var(--primaryBlack);
		height: 8rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.title {
		color: var(--primaryWhite);
		@extend .dilanText;
		letter-spacing: 4px;
		font-weight: normal;
		margin-right: 10rem;
	}
	.img {
		z-index: 2 !important;
		width: 34%;
		top: 0;
		left: 10%;
		z-index: 0;
		position: absolute;
	}
	.textContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: 10rem;
	}
	.text {
		margin-left: 10rem;
		margin-top: 5rem;
		letter-spacing: 2px;
	}
}
