/*Use a more-intuitive box-sizing model, remove margin and padding*/

html *,
html *:before,
html *:after,
body *,
body *:before,
body *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Remove ol,ul list styles*/
ol,
ul {
  list-style: none;
}

/*Remove link underlines*/
a {
  text-decoration: none;
}
body {
  max-width: 100vw;
}
html {
  scroll-behavior: smooth;
}
