.sideScrollingText {
	z-index: 2;
	margin-top: -2rem;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	width: 200vw;
	height: 5rem;
	letter-spacing: 4px;
	text-align: center;
	transform: translateX(-1000px);
	white-space: nowrap;
	background-color: var(--primaryWhite);
	color: var(--primaryBlack);
	margin-bottom: -3rem;
	.sideScrollServices {
	}
}
